@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: bold;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f4f5f7;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 130px;
  margin-top: 130px;
  height: 100%;
  background: #fafafa;
  padding: 20px 0px;
  position: fixed;
  text-align: center;
  box-shadow: 6px 0 10px 3px rgb(230 , 230, 230);
}
.wrapper .section{
  background-color: white;
  width: 100%;
  height:130px;
}
.wrapper .section img{
  width: 130px;
  height:130px;
  box-shadow: 6px 0 10px 3px rgb(230, 230, 230);
  border-bottom: 3px solid rgb(230, 230, 230);
}
.wrapper.sidebar.logo img
{
  padding-top: 25px;

}
.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
  font-size: 16px;
  height: 100px;
  font-weight: bold;
  width: 130px;
  padding-top: 25px;
}
.wrapper .sidebar ul li a .fas{
  width: 25px;
}
.wrapper .sidebar ul li .current {
  border-left: 3px solid #3167bd ;
  text-anchor: middle;
  background-color:rgba(0, 108, 250, 0.1);
  color:black;
  font-weight: bold;
}   
.wrapper .sidebar .current img{
  color: black;
  filter: brightness(0%);
}
.content{
  display: block;
  position: fixed  ;
  align-content: center ;
}
.content a{
  align-content: center;
  color:#8d97a3;
  font-size: 20px;
  font-weight:600;
  text-align: center;

}
 .content img{
  margin-left:180px;
  margin-top: 35px;
  width: 20px;
  height: 15px;
  align-content: center;
  color:#8d97a3;

}
#url {
  border-radius: 10px;
  border: 1px solid #fafafa;
  background-color: #ffffffbd;
  margin-left:350px;
  margin-top: 100px;
  font-weight: bold;
  padding: 20px; 
  width: 1300px;
  height: 20px; 
  font-size:16px;   
}
#or
{
  margin-left:950px;
  margin-top: 45px;
  font-weight: bold;
  font-size: 20px;
}
#upload
{
  border-radius: 2px;
  margin-left:350px;
  margin-top: 0px;
  font-weight: bold;
  padding: 20px; 
  width: 200px;
  border: 1px solid #fafafa;
  background-color: #ffffffbd;
  height:200px;    
  font-size: 18px; 
}